mat-list {
  max-width: 400px;
  min-width: 280px;
  margin-top: 1rem;
}
section {
  display: flex;
  justify-content: center;
}

mat-list-item {
  cursor: pointer;
}

.fab-btn {
  position: absolute;
  bottom: 1%;
  right: 1%;
}