<section>
  <mat-list class="mat-elevation-z2">
    <mat-list-item><b>Lista de Autores</b></mat-list-item>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let author of authorList">
      <mat-list-item (click)="handlerAuthorDetails(author._id)">{{ author.firstName }} {{ author.lastName }}</mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>

  <button mat-fab color="primary" class="fab-btn" (click)="handlerFabBtn()">
    <mat-icon aria-hidden="false">add</mat-icon>
  </button>

</section>